<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title> Casa Criativa </title>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/style.css">
</head>
<body>

  <div id="container">
    <section id="intro">
      <header>
      <a href="/">
        <img src="/logo.png" alt="Imagem da Logomarca">
      </a>
      </header>

      <main>
        <p>
          Ficar em casa em períodos longos, não deve ser nada fácil.
        </p>

        <p>
          Por isso, iremos catalogar ideias, <strong> brincadeiras, jogos, filmes, livros, cursos, dicas </strong> e tudo que for necessário para tornar esse momento mais interessante.
        </p>

        <p>
          Comece clicando em ver ideias para ver as  ideias cadastradas e contribua adicionando a sua ideia.
        </p>
      </main>

      <section id="buttons">
        <button onclick="onOff()">
          + Adicionar Ideia
        </button>

        <a href="/ideias" class="button">
          Ver Ideias
        </a>
      </section>

      <footer>
        <p>
          Com <span style="color: red;">&hearts;</span>
          <a href="http://rocketseat.com.br" target="_blank">
            Rocketseat
          </a>
        </p>
      </footer>
    </section>

      <section id="last-ideas">
        {% for idea in ideas %}
          <div class="idea">
            <img src="{{idea.img}}" alt="Imagem de {{idea.title}}">
            <div class="content">
              <h3> {{idea.title}} </h3>
              <p> {{idea.category}} </p>
              <div class="description">
                {{idea.description}}
              </div>
              <a href="{{idea.url}}" target="_blank"> Ir para a ideia </a>
            </div>
          </div>
        {% endfor %}
      </section>
  </div>

  <div id="modal" class="hide">
    <div class="content">
      <h1> Nova Ideia </h1>
      <form action="">

      <div class="input-wrapper">
        <label for="title"> Título da Ideia </label>
        <input type="text" name="title">
      </div>

      <div class="input-wrapper">
        <label for="category"> Categoria </label>
        <input type="text" name="category">
      </div>

      <div class="input-wrapper">
        <label for="image"> Link da Imagem </label>
        <input type="url" name="image">
      </div>

      <div class="input-wrapper">
        <label for="description"> Digite uma Descrição para essa Ideia </label>
        <textarea name="description" cols="30" rows="10"></textarea>
      </div>

      <div class="input-wrapper">
        <label for="link"> Link da Ideia </label>
        <input type="url" name="link">
      </div>

      <a href="#" onclick="onOff()"> Voltar </a>
      <button> Salvar </button>

      </form>
    </div>
  </div>

  <script src="/scripts.js"></script>

</body>
</html>
