body {
  background-color: #e5e5e5;
  color: #25282b;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

body.hideScroll {
  overflow: hidden;
}

a {
  color: #ff5e84;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p, .description {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
}

.button {
  color: white;
  background-color: #ff5e84;
  width: 150px;
  height: 40px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 8px 8px 16px #ff5e8432;
}

.button:hover {
  background-color: #0984e3;
  text-decoration: none;
}

#container {
  width: 80%;
  max-width: 980px;
  margin: 40px auto;
  display: flex;
}

#intro {
  width: 300px;
  margin-right: 64px;
}

main {
  margin: 32px 0;
}

#buttons {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 32px;
}

button {
  background: none;
  color: #ff5e84;
  border: none;
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
  letter-spacing: 0.2px;
  cursor: pointer;
  outline: none;
}

button:hover {
  text-decoration: underline;
}

footer {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #777;
}

footer a {
  opacity: 0.7;
}

.idea {
  display: flex;
  box-shadow: 0 4px 16px -8px rgba(1, 1, 1, 0.1);
  border-radius: 8px;
  background-color: #fff;
  padding: 32px;
  margin-bottom: 32px;
}

.idea img {
  width: 60px;
  height: 60px;
  margin-right: 32px;
}

.idea h3 {
  margin: 0;
}

.idea p {
  margin: 8px 0;
  color: #777;
}

.idea .description {
  margin: 16px 0;
}

#modal {
  background-color: #ff5e84;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 400ms;
}

#modal.addScroll {
  overflow: auto;
}

#modal .content {
  margin-top: 15%;
  color: white;
}

#modal .content h1 {
  text-align: center;
  text-transform: uppercase;
}

#modal form {
  width: 80%;
  max-width: 800px;
  margin: 0 auto 15%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.content form div:nth-child(3),
.content form div:nth-child(4),
.content form div:nth-child(5) {
  grid-column: span 2;
}

form input,
form textarea {
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
  border-radius: 6px;
  border: 1px solid rgba(141, 25, 52, 0.5);
  outline: none;
  font-size: 16px;
}

form label {
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0.8px;
}

form a {
  width: 150px;
  height: 40px;
  background-color: #E9668A;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
  border-radius: 6px;
  align-self: end;
  transition: 400ms;
}

form a:hover {
  background-color: #fff;
  color: #ff5e84;
  text-decoration: none;
}

form button {
  background-color: white;
  width: 150px;
  height: 40px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 32px;
  grid-column: 2;
  justify-self: end;
  transition: 400ms;
}

form button:hover {
  background-color: #0984e3;
  color: white;
  text-decoration: none;
}

#modal.hide {
  opacity: 0;
  visibility: hidden;
}

#page-ideas #container {
  display: block;
}

#page-ideas header {
  display: flex;
  justify-content: space-between;
}

#page-ideas nav {
  display: flex;
  align-items: center;
}

#page-ideas nav li {
  list-style: none;
  margin-right: 16px;
}

#page-ideas nav li a {
  color: #25282b;
}

#page-ideas nav li a.button {
  color: white;
}

#page-ideas nav li:last-child {
  margin: 0;
}

section#title {
  text-align: center;
}

section#title p {
  opacity: 0.7;
  margin: 0;
}

section#title h1 {
  margin: 0;
  font-size: 28px;
}

section#ideas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

section#ideas .idea {
  margin: 0;
}

section#title,
section#ideas,
footer {
  margin-top: 64px;
}
